extends layout

block title
  | Connecting Error — test-frontend

block alert
  .wrapper-alert.wrapper-alert--warning
    span Warning!

block content
  .page.page--loader
    .loader.loader--error
      .loader-head
        .loader-head-title Can't connect to network
        .loader-head-desctiption Try again later or enter the offline version

      .loader-tips
        .loader-tips-button Enter the wallets
        .loader-tips-text
          p The data of&nbsp;all wallets may be&nbsp;incorrect without connection to&nbsp;the network
