extends layout

block variables
  - var pageClass = 'content--general';

block prepend title
  | General — 

block footer

block header
  .header-total
    .header-total-menu
      .header-total-menu-icon

    h1.header-total-title Total assets value

    .header-total-price
      .header-total-price-value
        | 1967<span>.00 USD</span>
        .header-total-price-value-filter

      .header-total-price-active
        .header-total-price-active-system #MHC: 674,64 USD
        .header-total-price-active-dynamic +12.55%

block content
  .general
    .general-graph
      .general-graph-point 
        .general-graph-point-value $588.02
      .general-graph-mask

    nav.general-tabs
      ul.general-tabs-list
        li.general-tabs-list-item
          a.general-tabs-list-item-link(href = '#') Currency

        li.general-tabs-list-item.general-tabs-list-item--active
          a.general-tabs-list-item-link(href = '#') Recent Wallets

    .general-list
      a.general-list-item.general-list-item--mhc(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name SuperWallet
          span.general-list-item-head-hash d7dc 881c ... fd36 84bb 672d 1

        span.general-list-item-price
          span.general-list-item-price-value 62<span>.200939</span> <span>#MHC</span>
          span.general-list-item-price-usd 256.12 USD

      a.general-list-item.general-list-item--btc(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name Btc wallet
          span.general-list-item-head-hash d7dc 881c ... fd36 84bb 672d 1

        span.general-list-item-price
          span.general-list-item-price-value 7<span>.29</span> <span>BTC</span>
          span.general-list-item-price-usd 49,395.12 USD

      a.general-list-item.general-list-item--eth.general-list-item--disabled(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name Wallet for exchange
          span.general-list-item-head-hash  d7dc 881c ... fd36 84bb gmgk

        span.general-list-item-price
          span.general-list-item-price-value 105<span>.0</span> <span>ETH</span>
          span.general-list-item-price-usd 14,035.00 USD

      a.general-list-item.general-list-item--mhc(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name SuperWallet
          span.general-list-item-head-hash d7dc 881c ... fd36 84bb 672d 1

        span.general-list-item-price
          span.general-list-item-price-value 62<span>.200939</span> <span>#MHC</span>
          span.general-list-item-price-usd 256.12 USD

      a.general-list-item.general-list-item--btc(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name Btc wallet
          span.general-list-item-head-hash d7dc 881c ... fd36 84bb 672d 1

        span.general-list-item-price
          span.general-list-item-price-value 7<span>.29</span> <span>BTC</span>
          span.general-list-item-price-usd 49,395.12 USD

      a.general-list-item.general-list-item--eth(href = '#')
        span.general-list-item-head
          span.general-list-item-head-name Wallet for exchange
          span.general-list-item-head-hash  d7dc 881c ... fd36 84bb gmgk

        span.general-list-item-price
          span.general-list-item-price-value 105<span>.0</span> <span>ETH</span>
          span.general-list-item-price-usd 14,035.00 USD
