extends layout

block header
block footer

block content
  .index(style = 'width: 100%; padding: 3rem;')
    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'loader.html') loader.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'loader-tips.html') loader-tips.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'loader-error.html') loader-error.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'loader-restart.html') loader-restart.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'loader-restart--2.html') loader-restart--2.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'signin.html') signin.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'signup.html') signup.html

    a.button.button--border(style = 'margin: 0 auto 1rem;'
                            href = 'general.html') general.html
