extends layout

block logo
block footer

block content
  .page
    .index(style = 'width: 100%; padding: 3rem;')
      a.loader-tips-button(href = 'loader.html') loader.html
      a.loader-tips-button(href = 'loader-tips.html') loader-tips.html
      a.loader-tips-button(href = 'loader-error.html') loader-error.html
      a.loader-tips-button(href = 'loader-restart.html') loader-restart.html
      a.loader-tips-button(href = 'loader-restart--2.html') loader-restart--2.html
      a.loader-tips-button(href = 'signin.html') signin.html
      a.loader-tips-button(href = 'signup.html') signup.html
      a.loader-tips-button(href = 'general.html') general.html
