extends layout

block variables
  - var pageClass = 'content--loader';

block prepend title
  | Connecting Restart 2 — 

block alert
  .wrapper-alert.wrapper-alert--warning Warning!

block content
  .loader.loader--reload-2
    .loader-head
      .loader-head-title Can't connect to network
      .loader-head-desctiption Try again later or enter the offline version

    .loader-tips
      a.button.button--border.loader-tips-button(href = '') Enter the wallets
      .loader-tips-text
        p The data of&nbsp;all wallets may be&nbsp;incorrect without connection to&nbsp;the network
