extends layout

block variables
  - var footerClass = 'footer--noslogan';

block prepend title
  | Sign Up — 

block content
  .page.page--signup
    .auth
      .auth-head
        .auth-head-title Create Account
        a.auth-head-button.auth-head-button--signin(href = '#') User login

      form.form
        .form-input
          .form-input-label Email
          input.form-input-text.form-input-text--email(type = 'text'
                                                       autocomplete = 'off')

        .form-input
          .form-input-label Password
          input.form-input-text.form-input-text--password(type = 'password'
                                                          autocomplete = 'off')

        .form-input
          .form-input-label Confirm Password
          input.form-input-text.form-input-text--password(type = 'password'
                                                          autocomplete = 'off')

        button.form-button Continue
