html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.form-input {
  background: rgba(5, 11, 31, 0.6);
  border: 1px solid rgba(153, 206, 255, 0.3);
  border-radius: 2.14rem;
  margin-bottom: 2.28rem;
  position: relative;
}

.form-input-label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4084c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .71rem;
  font-weight: 300;
  left: 1.57rem;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: 1.64rem;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-property: top, font-size;
  -o-transition-property: top, font-size;
  transition-property: top, font-size;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.form-input-text {
  background: none;
  background-position: calc(100% - 1.4rem) center;
  background-repeat: no-repeat;
  border: 0;
  color: #99ceff;
  font-size: .92rem;
  height: 100%;
  padding: 1.53rem 3rem 1.53rem 1.57rem;
  text-transform: uppercase;
  width: 100%;
}

.form-input-text--email {
  background-image: url("/images/icons/icon-email.svg");
}

.form-input-text--password {
  background-image: url("/images/icons/icon-password.svg");
}

.form-input--focus .form-input-label {
  bottom: auto;
  font-size: .57rem;
  top: .71rem;
}

.form-button {
  background: none;
  border: 3px solid #f00;
  border-radius: 2.14rem;
  color: #99ceff;
  margin-top: 1.14rem;
  padding: 1.35rem 0;
  text-transform: uppercase;
  width: 100%;
}

.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3.35rem 0 1.7rem;
}

.footer-logo {
  background-image: url("/images/logo-mini.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.64rem;
  margin-bottom: 1.28rem;
  opacity: .5;
  width: 8.14rem;
}

.footer-logo--noslogan {
  background-image: url("/images/logo-noslogan.svg");
  height: .92rem;
  opacity: 1;
  width: 6.42rem;
}

.footer-logo--noslogan + div {
  opacity: .3;
}

.footer-version {
  color: #99ceff;
  font-size: .85rem;
  font-weight: 300;
  opacity: .5;
}

.auth {
  margin-top: -.7rem;
  padding: 0 1.35rem;
  width: 100%;
}

.auth-head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.7rem;
}

.auth-head-title {
  color: #fff;
  font-size: 1.14rem;
  font-weight: 300;
}

.auth-head-button {
  background: #0a4982;
  border-radius: 1.78rem;
  color: #99ceff;
  font-size: .71rem;
  font-weight: 300;
  padding: 1rem 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.auth-head-button span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-head-button span::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  height: 1.07rem;
  margin-left: .75rem;
  width: 1.07rem;
}

.auth-head-button--signin span::after {
  background-image: url("/images/icons/icon-user.svg");
}

.auth-head-button--signup span::after {
  background-image: url("/images/icons/icon-key.svg");
}

.loader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.loader::before {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: pulse-inner 2s infinite;
  animation: pulse-inner 2s infinite;
  background: url("/images/icons/icon-connection.svg") no-repeat center;
  background-size: calc(5.72rem - 2px) auto;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
  box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 9.28rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3.8rem;
  position: relative;
  width: 9.28rem;
}

.loader::after {
  -webkit-animation: pulse-outer 2s infinite;
  animation: pulse-outer 2s infinite;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
  box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
  content: '';
  height: 9.28rem;
  left: calc(50% - 9.28rem / 2);
  position: absolute;
  top: 0;
  width: 9.28rem;
}

.loader-head {
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  font-size: 1.07rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.loader-head-desctiption {
  color: #99ceff;
  font-weight: 300;
  margin-top: .7rem;
  text-transform: none;
}

.loader-tips {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 500;
  padding: 0 3.57rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.loader-tips-button {
  border: 1px solid #fff;
  border-radius: 4rem;
  color: #fff;
  display: table;
  font-size: .71rem;
  margin: 0 auto 2.35rem;
  padding: 1.07rem 2.14rem;
}

.loader-tips-title {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.35rem;
}

.loader-tips-warning {
  color: #99ceff;
  font-size: .78rem;
}

.loader-tips-text {
  color: #fff;
  font-size: .71rem;
  font-weight: 300;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.loader--error::before,
.loader--error::after,
.loader--reload::before,
.loader--reload::after,
.loader--reload-2::before,
.loader--reload-2::after {
  -webkit-animation: none;
  animation: none;
}

.loader--error::before,
.loader--reload::before,
.loader--reload-2::before {
  border-color: rgba(153, 206, 255, 0.3);
}

.loader--error .loader-tips-text,
.loader--reload .loader-tips-text,
.loader--reload-2 .loader-tips-text {
  padding: 0 2rem;
}

.loader--error::before {
  background-image: url("/images/icons/icon-connection--error.svg");
}

.loader--reload::before {
  background-image: url("/images/icons/icon-connection--reload.svg");
}

.loader--reload-2::before {
  background-image: url("/images/icons/icon-restart.svg");
  background-size: 3.9rem auto;
}

@-webkit-keyframes pulse-inner {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
  }

  70% {
    -webkit-box-shadow: 0 0 0 1rem rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 1rem rgba(153, 206, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
  }
}

@keyframes pulse-inner {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.3);
  }

  70% {
    -webkit-box-shadow: 0 0 0 1rem rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 1rem rgba(153, 206, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
  }
}

@-webkit-keyframes pulse-outer {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
  }

  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 2rem rgba(153, 206, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
  }
}

@keyframes pulse-outer {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0.15);
  }

  70% {
    -webkit-box-shadow: 0 0 0 2rem rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 2rem rgba(153, 206, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
    box-shadow: 0 0 0 0 rgba(153, 206, 255, 0);
  }
}

.general {
  width: 100%;
}

.general-head {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17.98rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -3rem;
  text-align: center;
}

.general-head-title {
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: capitalize;
  top: 3.35rem;
}

.general-head-menu-icon {
  background: url("/images/icons/icon-menu.svg") no-repeat right center;
  background-size: contain;
  height: .42rem;
  position: absolute;
  right: 1.28rem;
  top: 3.85rem;
  width: 1.57rem;
}

.general-head-price-value {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.42rem;
  line-height: 1;
  margin-bottom: .5rem;
}

.general-head-price-value span {
  font-size: 1.5rem;
}

.general-head-price-value-filter {
  background: url("/images/icons/icon-filter.svg") no-repeat center;
  background-size: contain;
  height: 1.14rem;
  margin-left: .5rem;
  position: relative;
  top: -.3rem;
  width: 1rem;
}

.general-head-price-active {
  color: #99ceff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .92rem;
  font-weight: 300;
}

.general-head-price-active-dynamic {
  color: #04d67e;
  margin-left: .71rem;
}

.general-graph {
  position: relative;
}

.general-graph-point {
  left: 13.5rem;
  position: absolute;
  top: -2.6rem;
  z-index: 1;
}

.general-graph-point::before {
  background: #99ceff;
  border-radius: 50%;
  bottom: -1.13rem;
  -webkit-box-shadow: 0 0 0 0.21rem rgba(153, 206, 255, 0.1);
  box-shadow: 0 0 0 0.21rem rgba(153, 206, 255, 0.1);
  content: '';
  display: block;
  height: .71rem;
  position: absolute;
  right: .8rem;
  width: .71rem;
}

.general-graph-point-value {
  background: #2F7BC2;
  border-radius: 1.07rem;
  color: #fff;
  font-size: .71rem;
  font-weight: 300;
  padding: .48rem .92rem .44rem;
  position: relative;
}

.general-graph-point-value::before {
  border-left: .285rem solid transparent;
  border-right: .285rem solid transparent;
  border-top: .285rem solid #2F7BC2;
  bottom: -.285rem;
  content: '';
  height: 0;
  position: absolute;
  right: .85rem;
  width: 0;
}

.general-graph-mask {
  background: -webkit-gradient(linear, left top, left bottom, from(#06284c), to(#072041));
  background: -o-linear-gradient(top, #06284c, #072041);
  background: linear-gradient(to bottom, #06284c, #072041);
  height: 3rem;
  -webkit-mask: url("/images/graphs/graph-1.svg") no-repeat right top;
  mask: url("/images/graphs/graph-1.svg") no-repeat right top;
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
}

.general-graph::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#00cf82), to(#0082bf));
  background: -o-linear-gradient(top, #00cf82, #0082bf);
  background: linear-gradient(to bottom, #00cf82, #0082bf);
  bottom: 0;
  content: '';
  display: block;
  height: 3rem;
  left: 0;
  -webkit-mask: url("/images/graphs/graph-line-1.svg") no-repeat right top;
  mask: url("/images/graphs/graph-line-1.svg") no-repeat right top;
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.general-list {
  background: -webkit-gradient(linear, left top, left bottom, from(#072041), color-stop(10%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #072041 0%, rgba(0, 0, 0, 0) 10%);
  background: linear-gradient(to bottom, #072041 0%, rgba(0, 0, 0, 0) 10%);
  padding: 2rem 1.35rem 1.85rem;
}

.general-list-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.64rem;
}

.general-list-tabs-item {
  border: 1px solid rgba(75, 140, 198, 0.5);
  color: rgba(75, 140, 198, 0.5);
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  font-size: .78rem;
  font-weight: 300;
  padding: .57rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 50%;
}

.general-list-tabs-item:first-child {
  border-radius: .28rem 0 0 .28rem;
}

.general-list-tabs-item:last-child {
  border-radius: 0 .28rem .28rem 0;
}

.general-list-tabs-item--active {
  background: #4084C0;
  color: #fff;
}

.general-list-item {
  background: -webkit-gradient(linear, left top, left bottom, from(#112745), to(#071a36));
  background: -o-linear-gradient(top, #112745 0%, #071a36 100%);
  background: linear-gradient(to bottom, #112745 0%, #071a36 100%);
  border: 1px solid rgba(153, 206, 255, 0.125);
  border-radius: .35rem;
  -webkit-box-shadow: 0 -2px 13px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 13px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: .85rem;
  padding: 1.5rem 2rem 1.85rem 1.42rem;
  position: relative;
  text-decoration: none;
}

.general-list-item::before {
  background: url("/images/icons/icon-swipe.svg") no-repeat left bottom;
  background-size: contain;
  bottom: 1.07rem;
  content: '';
  display: block;
  height: .53rem;
  left: 1.07rem;
  position: absolute;
  width: 1.85rem;
}

.general-list-item::after {
  background: #99ceff;
  content: '';
  display: block;
  height: 1.85rem;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
  right: .85rem;
  top: .85rem;
  width: 1.85rem;
}

.general-list-item-head {
  display: block;
  margin-bottom: 1rem;
  padding-left: 4.44rem;
  padding-top: .64rem;
  position: relative;
}

.general-list-item-head::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  content: '';
  display: block;
  height: 3.3rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 3.3rem;
}

.general-list-item-head-name {
  color: #fff;
  display: block;
  font-size: .85rem;
  font-weight: 500;
  margin-bottom: .42rem;
  text-transform: uppercase;
}

.general-list-item-head-hash {
  color: #99ceff;
  display: block;
  font-size: .78rem;
  font-weight: 300;
  letter-spacing: .03em;
}

.general-list-item-price {
  font-weight: 300;
  text-align: right;
}

.general-list-item-price-value {
  color: #fff;
  display: block;
  font-size: 2.07rem;
}

.general-list-item-price-value span {
  font-size: 1.35rem;
}

.general-list-item-price-value span:last-child {
  color: #c4c4c4;
}

.general-list-item-price-usd {
  color: #c4c4c4;
  display: block;
  font-size: .92rem;
}

.general-list-item--mhc::after {
  -webkit-mask-image: url("/images/icons/icon-system-1.svg");
  mask-image: url("/images/icons/icon-system-1.svg");
}

.general-list-item--mhc .general-list-item-head::before {
  background-image: url("/images/wallet/MHC.png");
}

.general-list-item--btc::after {
  -webkit-mask-image: url("/images/icons/icon-system-2.svg");
  mask-image: url("/images/icons/icon-system-2.svg");
}

.general-list-item--btc .general-list-item-head::before {
  background-image: url("/images/wallet/BTC.png");
}

.general-list-item--eth::after {
  -webkit-mask-image: url("/images/icons/icon-system-3.svg");
  mask-image: url("/images/icons/icon-system-3.svg");
}

.general-list-item--eth .general-list-item-head::before {
  background-image: url("/images/wallet/ETH.png");
}

.general-list-item--disabled {
  background: -webkit-gradient(linear, left top, left bottom, from(#05172f), to(#051730));
  background: -o-linear-gradient(top, #05172f 0%, #051730 100%);
  background: linear-gradient(to bottom, #05172f 0%, #051730 100%);
}

.general-list-item--disabled::after {
  background: #c4c4c4;
  opacity: .5;
}

.general-list-item--disabled .general-list-item-head {
  opacity: .5;
}

.general-list-item--disabled .general-list-item-head::before {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.general-list-item--disabled .general-list-item-head-hash {
  color: #c4c4c4;
}

.general-list-item--disabled .general-list-item-price-value {
  color: rgba(255, 255, 255, 0.1);
}

.general-list-item--disabled .general-list-item-price-value span:last-child {
  color: rgba(196, 196, 196, 0.3);
}

.general-list-item--disabled .general-list-item-price-usd {
  color: rgba(196, 196, 196, 0.3);
}

@-ms-viewport {
  user-zoom: fixed;
}

@-o-viewport {
  user-zoom: fixed;
}

@viewport {
  user-zoom: fixed;
}

html {
  font-size: 14px;
}

html,
body,
.wrapper {
  min-height: 100vh;
  width: 100vw;
}

body {
  background: #0b1b37;
  color: #000;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body *::before,
body *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body input,
body button {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 300;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper-alert {
  background: #99ceff;
  left: 0;
  padding: 3.5rem 0 .85rem;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.wrapper-alert span {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: .92rem;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
}

.wrapper-alert span::before {
  background: url("/images/icons/icon-alert.svg") no-repeat center;
  background-size: contain;
  content: '';
  height: 1rem;
  margin-right: .57rem;
  width: 1rem;
}

.wrapper-alert--warning {
  background: #fb5e5b;
}

.wrapper-alert--warning span::before {
  background-image: url("/images/icons/icon-warning.svg");
}

.wrapper-logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.64rem;
  font-weight: 100;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 34.5vh;
  text-align: center;
}

.wrapper-logo::before {
  color: #99ceff;
  content: '#Meta';
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
}

.page--loader::before,
.page--signup::before {
  background: -webkit-gradient(linear, left bottom, left top, from(#001c3a), color-stop(120.21%, rgba(14, 78, 135, 0))), url("/images/page-bg.png");
  background: -o-linear-gradient(bottom, #001c3a 0%, rgba(14, 78, 135, 0) 120.21%), url("/images/page-bg.png");
  background: linear-gradient(360deg, #001c3a 0%, rgba(14, 78, 135, 0) 120.21%), url("/images/page-bg.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 27.35rem;
  left: -18.85rem;
  position: absolute;
  top: -2.28rem;
  width: calc(100% + 18.85rem);
  z-index: -1;
}

.page--general::before {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(7.19%, #001C3A), color-stop(120.21%, rgba(14, 78, 135, 0))), url("/images/page-bg.png");
  background: -o-linear-gradient(bottom, #001C3A 7.19%, rgba(14, 78, 135, 0) 120.21%), url("/images/page-bg.png");
  background: linear-gradient(360deg, #001C3A 7.19%, rgba(14, 78, 135, 0) 120.21%), url("/images/page-bg.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 20.85rem;
  left: -8rem;
  position: absolute;
  top: 0;
  width: calc(100% + 8rem);
  z-index: -1;
}